.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}


#cerrar{
  position: absolute;
  right: 30px;
}

#borrar{
  position: absolute;
  left: 30px;
}

.chatMessage{
  height: 20px;
  margin: 5px;
  background-color: yellowgreen;
}

#cuadro_texto{
  width: 80%;
  height: 70vh;
  margin-top: 15px;
  margin-left: 10%;
  border-radius: 5% 0% 0% 5%;
  border: 1px solid black;
  text-align: justify;
  overflow-y: auto;
}


#mensajes{
  border-radius: 25px;
  width: auto;
  max-width: 70%;
  border: 1px solid black;
  display: flex;
  word-break: break-all;
  margin-top: 1%;
  padding-right: 10px;
}

.yo{
  background-color:#DDF4D3;
  margin-left: 29%;
  padding-left: 15px;
}

.otro{
  background-color: #E0E0E0;
  margin-left: 2%;
  padding-left: 15px;
}

#imagen_flecha{
  margin-top: 35px;
  margin-left: 50px;
  width: 4%;
  height: 4%;
}

#imagen_compartir{
  width: 2%;
  height: 4%;
  position: absolute;
  right: 7%;
  top: 14%;
}

#enviar_mensaje{
  display: flex;
}

#campo_texto{
  border-radius: 5px;
  width: 65%;
  height: 40px;
  margin-left: 15%;
  margin-top: 35px;
}

#poner_fondo{
  display: none;
  width: 250px;
  height: 4%;
  position: absolute;
  right: 4%;
  top: 20%;
  border-radius: 15px;
}
